$PROJECT_DIR$/.idea/shelf/2022_04_17_6_53_PM.xml
$PROJECT_DIR$/.idea/inspectionProfiles/profiles_settings.xml
$PROJECT_DIR$/.idea/inspectionProfiles/
$PROJECT_DIR$/.idea/Algorithm-study.iml
$PROJECT_DIR$/.idea/misc.xml
$PROJECT_DIR$/.idea/modules.xml
$PROJECT_DIR$/.idea/vcs.xml
$PROJECT_DIR$/.idea/workspace.xml
